@inherits LayoutComponentBase

<PageTitle>Hello World</PageTitle>

<div class="banner" style="background: #264E34; color: rgb(240, 175, 81); font-weight: 900;">
    <h1>Burger Bear</h1>
</div>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>